<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener</title>
    <link
      rel="shortcut icon"
      href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <h2>API Project: URL microservice</h2>
      <h3>User Stories:</h3>
      <ol class="user-stories">
        <li>
          The API endpoint is <code>POST [project_url]/shorten/:url</code>
        </li>
        <li>
          A url string is valid if can be successfully parsed as an HTTP link.
        </li>
        <br />
      </ol>

      <h3>Example Usage:</h3>

      <div id="url-section-empty">
        <form action="/shorten" method="post" class="form" id="url-form">
          <label for="url"></label>
          <input type="url" id="url" name="url" value="" placeholder="Shorten your link" required>
          <button type="submit" id="url-button">Shorten</button>
        </form>
        <div id="savedurl-section">
          <ul id="savedurl-list">
          </ul>
        </div>
      </div>
      

      <h3>Example Output:</h3>
      <p>
        <code
          >{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code
        >
      </p>
    </div>

    <footer class="footer">
      <p>By fedya</p>
    </footer>

    <script src="app.js"></script>
  </body>
</html>
