<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener</title>
    <meta
      name="viewport",
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
      rel="stylesheet"
      type="text/css"
      />
    <!-- Vendor CSS -->
    <link
      href="vendor/bootstrap/css/bootstrap.min.css" 
      rel="stylesheet"
      />
    <link
      href="vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
      />

    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />

    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">
    <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="images/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>

    <div class="container-fluid">

      <header id="header" class="header fixed-top">
        <div class="container-fluid container-l d-flex align-items-center justify-content-between col-12">

          <a href="/" class="logo d-flex align-items-center">
            <img src="images/logo.png" alt="logo" class="img-fluid" />
            <span>pURL</span>
          </a>

          <nav id="navbar" class="navbar">
            <ul>
              <li>
                <a href="/" class="nav-link">
                  <i id="home-link" class="bi bi-house"></i>
                </a>
              </li>
            </ul>
          </nav>

        </div>
      </header>

      <section id="splash" class="splash d-flex align-items-center">
        <div class="container">
          <div class="row">

            <div class="col-lg-6 d-flex flex-column justify-content-center">
              <h1>Shorten your links, extend your reach.</h1>
              <div class="text-center text-lg-start">
                <a href="#url-section-empty" class="btn-get-started shadow-sm scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Get Started</span>
                  <i class="bi bi-arrow-down"></i>
                </a>
              </div>
            </div>

            <div class="col-lg-6 splash-img">
              <img class="img-fluid" src="images/splash-img.png" alt="url-logo" />
            </div>

          </div>
        </div>
      </section>

    </div>

    <main>

      <div id="url-section-empty">
        <form action="/url" method="post" class="form" id="url-form">
          <label for="url"></label>
          <input type="url" id="url" name="url" value="" placeholder="Shorten your link" required>
          <button type="submit" id="url-button">Shorten</button>
        </form>
        <div id="savedurl-section">
          <ul id="savedurl-list" class="list-group list-group-flush">
          </ul>
        </div>
      </div>

      <div id="features" class="container text-align-center">
        <header>
          <h1>How to use</h2>
        </header>
        <div class="row">

            <div class="box shadow-sm col-4">
              <img src="images/copy.svg" alt="a clipboard" class="img-fluid" />
              <h3>1. Paste your link.</h3>
            </div>

            <div class="box shadow-sm col-4">
              <img src="images/click.svg" alt="a clipboard" class="img-fluid" />
              <h3>2. Click Shorten.</h3>
            </div>

            <div class="box shadow-sm col-4">
              <img src="images/share.svg" alt="a clipboard" class="img-fluid" />
              <h3>3. Share the new link.</h3>
            </div>

        </div>
      </div>

      <footer class="footer">
        <div class="footer-links">

          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="d-flex justify-content-center">
                <a href="https://github.com/fedya" class="social-link">
                  <i class="bi bi-github"></i>
                </a>
                <a href="https://linkedin.com" class="social-link">
                  <i class="bi bi-linkedin"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="d-flex justify-content-center">
              <span>Copyright &copy; <strong>pURL</strong> 2021 Built with 
                <a href="https://expressjs.com">Expressjs.com</a>, database powered by 
                <a href="https://www.mongodb.com/">MongoDB</a>.
            </div>
          </div>
      </footer>

    </main>
    <script src="vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/nav.js"></script>

  </body>
</html>

