/****** Main Styling ******/

// variables
$bg: #fafafa;
$white: #f1f2f2;
$primary: #000040;
$secondary: #1667d1;
$submit: #1667d1;
$submit-secondary: #0ec52d;
$hover: #114c99;
$border: #083d77;
$transition: all 0.25s ease-in-out;

$font-color: #0c4665;
$yellow: #f6eb00;

// button mixin
@mixin mybutton($color_1, $color_2) {
  width: 0 auto;
  height: auto;
  min-height: 33px;
  margin: 0 auto;
  border: 2px solid $color_1;
  border-radius: 10px;
  //padding: 6px 24px;
  font-size: 1.15em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $color_1;
  background-color: $color_2;
  transition: $transition;
  &:hover {
    background-color: $color_1;
    border-color: $color_1;
    color: $color_2;
  }
  &:active {
    background-color: $color_1;
    border-color: $color_1;
    color: $color_2;
    box-shadow: none;
  }
  &:focus,
  &:active:focus {
    background-color: $color_1;
    border-color: $color_1;
    color: $color_2;
  }
  &.show-copied {
    background-color: $submit-secondary;
    color: $color_1;
    background-color: $color_2;
  }

  @media (max-width: 756px) {
    font-size: 1em;
  }
}

@mixin navbar() {
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  li {
    position: relative;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 1px 30px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: $font-color;
    white-space: nowrap;
  }
}

.navbar {
  @include navbar();
}

.header {
  z-index: 997;
  padding: 20px 20px 0 20px;

  a {
    text-decoration: none;
  }

  .logo {
    line-height: 0;
  }

  .logo img {
    max-height: 40px;
    margin-right: 6px;
  }

  .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: $font-color;
    font-family: "Roboto", sans-serif;
    margin-top: 3px;
  }
}

.header.header-scrolled {
  background: #fff;
  padding: 15px 20px 15px 20px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.splash {
  width: 100%;
  height: 80vh;
  background-size: cover;
  padding-left: 2vw;
  padding-right: 2vw;

  h1 {
    margin: 0;
    font-size: 58px;
    font-weight: 700;
  }

  .btn-get-started {
    margin-top: 30px;
    margin-left: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    color: $font-color;
    background: $yellow;
    text-decoration: none;

    span {
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 1px;
    }

    i {
      margin-left: 5px;
      font-size: 18px;
      transition: 0.3s;
    }
  }

  .btn-get-started:hover i {
    transform: translateY(5px);
  }

  .splash-img {
    text-align: right;
  }

  @media (min-width: 1024px) {
    background-attachment: fixed;
  }

  @media (max-width: 991px) {
    height: auto;
    margin-top: 12vh;
    margin-bottom: 2vh;

    .splash-img {
      text-align: center;
      margin-top: 4vh;
    }

    .splash-img img {
      width: 80%;
    }
  }

  @media (max-width: 768px) {
    text-align: center;

    h1 {
      font-size: 42px;
    }

    .splash-img img {
      width: 100%;
    }
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  // color: #222;
  color: $font-color;
  background-color: $bg;
  text-align: center;
  line-height: 1.4em;
  margin: 0;
}

.container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h3 {
  margin-top: 30px;
}

ol {
  list-style-position: outside;
}

ul {
  list-style-type: none;
}

a {
  color: $primary;
}

.form {
  margin: 0 auto;
  width: 100%;
  height: 20%;
  padding: 1em;
  background-color: $primary;
  background-image: linear-gradient(45deg, $primary 0%, $secondary 100%);
  display: flex;
  flex-direction: row;
  justify-items: center;
}

input {
  font: 20px sans-serif;
  text-indent: 10px;
  /* Uniform text field size */
  margin: 0 auto;
  width: 75%;
  height: 3.5em;
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid $border;
  border-radius: 10px;

  box-shadow: none; // remove default red border
}

#url-button:hover {
  color: #fff;
  background-color: $hover;
}

/* container for url form nd list */
#url-section-empty {
  background-color: $primary;
  width: 100%;
  margin: 0 auto;
}

#url-section {
  padding-bottom: 2em;
  background-color: $primary;
  width: 100%;
  margin: 0 auto;
}

#savedurl-section {
  p {
    margin-top: 16px;
  }

  background-image: linear-gradient(45deg, $primary 0%, $secondary 100%);
}

#savedurl-list {
  text-align: start;
  background-color: #fff;
  border-radius: 10px;
  width: 95%;
  margin: 0 auto;
  padding: 0;
}

#savedurl-item {
  color: $font-color;
}

#home-link {
  font-size: 2rem;
}

#url-button {
  @include mybutton($white, $secondary);
  background-color: transparent;
}

.copy-button {
  @include mybutton($white, $secondary);
  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
  @media (max-width: 360px) {
    font-size: 0.6rem;
  }
}

:root {
  scroll-behavior: smooth;
}

#features {
  margin-top: 6vh;
  padding-bottom: 6vh;

  h1,
  h2,
  h3 {
    font-weight: 700;
  }

  .box {
    padding: 30px;
    box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
    text-align: center;
    max-height: 366px;
  }
}

.footer {
  width: 100%;
  padding-bottom: 2vh;
  color: $bg;
  background-color: $primary;
  background-image: linear-gradient(45deg, $primary 0%, $secondary 100%);

  .social-link {
    color: $bg;
    font-size: 30px;
    margin: 10px 10px 5px 10px;
  }
}
